html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
      {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      box-sizing: border-box;
    }
    html,body
    {
      margin:0;
      padding:0;
      font-family:Microsoft YaHei,Helvetica,Tahoma;
      font-size:12px;
      color:#FFFFFF;
      line-height:1.5em;
      min-width:1250px;
      background: url("../image/bg.png") no-repeat;
      background-size: cover;
      overflow: auto !important;
      /*width: 1920px;*/
    }
    a
    {
      text-decoration:none;
      color:#061C66;
    }
    a:hover
    {
      text-decoration:none;
      color:#00DEFF;
    }
    a:visited
    {
      text-decoration:none;
      color:#fff;
    }
    .hidden{
      display:none !important;
    }
    .lf{
      float: left;
    }
    .rf{
      float: right;
    }
    ul li {
      list-style-type:none;
    }
